.dashboard-layout {
  display: flex;
}

.dashboard-container {
  padding: 30px;

  width: 100%;
}

.dashboard-cards {
  display: flex;

  gap: 20px;

  margin-top: 30px;
}

.card {
  width: 250px;

  padding: 20px;

  border-radius: 10px;

  background-color: #f4f4f4;
}