.create-layout {
  display: flex;
}

.form-container {
  width: 100%;

  padding: 30px;
}

form {
  display: flex;

  flex-direction: column;

  gap: 20px;

  margin-top: 30px;

  width: 500px;
}

input,
textarea {
  padding: 12px;

  border: 1px solid #ccc;

  border-radius: 6px;
}

textarea {
  height: 120px;
}

button {
  padding: 12px;

  border: none;

  background-color: black;

  color: white;

  cursor: pointer;

  border-radius: 6px;
}