.sidebar {
  width: 250px;

  height: 100vh;

  background-color: #222;

  color: white;

  padding: 20px;
}

.sidebar ul {
  list-style: none;

  padding: 0;

  margin-top: 30px;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  color: white;

  text-decoration: none;
}