<nav class="navbar">

  <div class="logo">
    Event Booking
  </div>

  <ul class="nav-links">

    <li>

      <a
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{
          exact: true
        }"
      >
        Home
      </a>

    </li>

    <li>

      <a
        routerLink="/events"
        routerLinkActive="active-link"
      >
        Events
      </a>

    </li>

    <li>

      <a
        routerLink="/my-bookings"
        routerLinkActive="active-link"
      >
        My Bookings
      </a>

    </li>

    <li>

      <a
        routerLink="/organizer/dashboard"
        routerLinkActive="active-link"
      >
        Organizer
      </a>

    </li>

  </ul>

</nav>