.navbar {
  background-color: #222;
  color: white;

  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;

  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}