<nav class="navbar">

  <div class="logo">
    Event Booking
  </div>

  <ul class="nav-links">

    <li>

      <a
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{
          exact: true
        }"
      >
        Home
      </a>

    </li>

    <li>

      <a
        routerLink="/events"
        routerLinkActive="active-link"
      >
        Events
      </a>

    </li>

    <li>

      <a
        routerLink="/my-bookings"
        routerLinkActive="active-link"
      >
        My Bookings
      </a>

    </li>

    <li>

      <a
        *ngIf="adminState$ | async"
        routerLink="/organizer/dashboard"
        routerLinkActive="active-link"
      >
        Organizer
      </a>

    </li>

    <li *ngIf="!(adminState$ | async)">

      <a
        routerLink="/admin-login"
        routerLinkActive="active-link"
      >
        Admin Login
      </a>

    </li>

  </ul>

  <button
    *ngIf="adminState$ | async"
    type="button"
    class="logout-btn"
    (click)="logout()"
  >
    Logout
  </button>

</nav>
