<div class="booking-container">

  <h1>
    My Bookings
  </h1>

  <div
    class="booking-card"
    *ngFor="let booking of bookings"
  >

    <h2>
      {{ booking.eventTitle }}
    </h2>

    <p>
      Booking ID:
      {{ booking.bookingId }}
    </p>

    <p>
      Name:
      {{ booking.name }}
    </p>

    <p>
      Tickets:
      {{ booking.tickets }}
    </p>

    <p>
      Status:
      {{ booking.status }}
    </p>

    <button
      *ngIf="booking.status !== 'Cancelled'"
      (click)="cancelBooking(
        booking.bookingId
      )"
    >
      Cancel Booking
    </button>

  </div>

</div>